@font-face {
  font-family: kingdom;
  src: url(https://cdn.glitch.global/bc281a19-7937-4621-a747-fb021bca870c/Kingdom_Hearts_Font.ttf?v=1748561963877);
}
@font-face {
  font-family: boldy;
  src: url(https://cdn.glitch.global/bc281a19-7937-4621-a747-fb021bca870c/Boldyguard%20Demo.otf?v=1748564529790);
}
@font-face {
  font-family: qicka;
  src: url(https://cdn.glitch.global/bc281a19-7937-4621-a747-fb021bca870c/Qilka-Bold.ttf?v=1748799761113);
}
.all {
  display: flex;
  justify-content: center;
  /*   background: pink; */
  /*   display: inline-block; */
  align-items: flex-start;
  margin: 0;
  /*   /*     background: yellow; */
  position: absolute;
  top: 50%;
  left: 47.5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url("https://cdn.glitch.global/bc281a19-7937-4621-a747-fb021bca870c/wp3933142.jpg?v=1748562529989");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px ;
  font-family: kingdom;
  text-align: center;
}
span {
  font-size: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #e1b16c;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}
.active {
  background-color: #000000;
  color: white;
}
.maindiv {
  width: 350px;
  height: 250px;
  border: 15px groove #2c2c34;
  padding: 50px;
  padding-top: 5px;
  padding-bottom: 95px;
  /*   margin: auto; */
  background: #201a23;
  color: #e1b16c;
  font-family: kingdom;
}
.navbox {
  float: left;
  margin-left: -7.82%;
  border-style: inset;
  border-width: thick;
  border-color: black;
  font-family: boldy;
  /*   position: fixed; */
  /*   top: 17.3%; */
}
